@import url("https://fonts.googleapis.com/css?family=Montserrat");

header nav ul{
	
	height:30px;
	display: flex;;
	justify-content: space-between;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

header nav ul li a{

	color:#384259;
	text-decoration: none;
	font-weight: 900;
}

header nav {
	
	font-size: 20px;
	background: #f73859;
	margin: 30px 30px 50px 30px;
	border-radius: 5px;
	font-family: Montserrat;


}

header nav ul li .menuhover:hover{

	background:#384259;
	color:#f73859;
	border-radius: 5px;
	margin:30px;
}	